
.vscode/
*.log

/caseData/*/

/geoData/*/
!/geoData/example/
!/geoData/example/**

/wrfInput/*/
!/wrfInput/example/
!/wrfInput/example/**

cfdCore/FluidX3D/bin/
cfdCore/FluidX3D/temp/
cfdCore/FluidX3D/stl/
cfdCore/FluidX3D/.vs/
cfdCore/FluidX3D/FluidX3D.vcxproj.user