# Virtual env at repo root
/.venv/

# FluidX3D generated folders
/core/cfd_core/FluidX3D/temp/
/core/temp/
/core/cfd_core/FluidX3D/bin/**
/core/cfd_core/FluidX3D/.vs/
/core/cfd_core/FluidX3D/enc_temp_folder/
/core/cfd_core/FluidX3D-3.5/
/core/bridge_core/__pycache__
# Files anywhere
*.vcxproj.user
*.log
*.vtk
*.tif

# Ignore all files under /example, including files in subfolders
/example/**
/run/**

# Re-allow directories so we can unignore specific files
!/example/**/
!/run/readme.txt

# Do not ignore .luw files under /example at any depth
!/example/*.luw
!/example/**/*.luw

/examples/example_ProfileResearch_new
